body{
}
.imog {
  margin-top:   100px;
}
.imog h2{
  color: #000;
}

.card{
  width: 150px!important;
  height: 140px;
  margin: 10px;
  border-radius: 8px;
  transition: all 0.6s ease;
}
.card:hover{
  background-color: #4b7bec;
}

.fa, .far, .fal{
text-align: center;
margin-top: 35px;
font-size: 20px;
color: white;
}

a{
  text-align: center;
  color: white!important;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  font-family: 'Assistant', sans-serif;
}
.card-title{
  color: #fff;
}

.card-body{
  text-align: center;
}
.bg-1{
  background-color: #a5b2;
}
.bg-2{
  background-color: #a5b2;
}
.bg-3{
  background-color: #a5b2;
}
.bg-4{
  background-color: #a5b2;
}
.bg-5{
  background-color: #a5b2;
}

.bg-1a{
  background-color: #a5b2;
}
.bg-2a{
  background-color: #a5b2;
}
.bg-3a{
  background-color: #a5b2;
}
.bg-4a{
  background-color: #a5b2;
}
.bg-5a{
  background-color: #a5b2;
}
.foot{
  text-align: center;
  color: #B0B0B0;
  font-size: 12px;
}
.text-bla{
  color: #DBDBDB!important;
  font-size: 12px;
}
@media (min-width: 300px){
  .card{
    width: 93px!important;
    height: 120px;
    margin: 1px;
    padding: 0px;
    border-radius: 2px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }

  .fa, .far, .fal{
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin-top: 20px;
  font-size: 24px;
  color: white;
  line-height: 1.1em;
  }
  .imog {
    margin-top:   15px;
    margin-bottom: 0px;
  }
  a{
    text-align: center;
    color: white!important;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    padding-bottom:0px;
    line-height: 0px;
    font-family: 'Assistant', sans-serif;
  }
}
@media (min-width: 400px){
  .card{
    width: 150px!important;
    height: 100px;
    margin: 2px;
    padding: 0px;
    border-radius: 2px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }

  .fa, .far, .fal{
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
  font-size: 20px;
  color: white;
  }

  a{
    text-align: center;
    color: white!important;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-family: 'Assistant', sans-serif;
  }
}

@media (min-width: 576px) {

  .card{
    width: 120px!important;
    height: 120px;
    margin: 5px;
    border-radius: 4px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }

  .fa, .far, .fal{
  text-align: center;
  font-size: 50px;
  margin-top: 25px;
  font-size: 20px;
  color: white;
  }

  a{
    text-align: center;
    color: white!important;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-family: 'Assistant', sans-serif;
  }
}
@media (min-width: 768px) {
  .container{
    padding-top: 0;
    margin-top: 0;
  }
  .card{
    width: 170px!important;
    height: 100px;
    margin: 3px;
    border-radius: 3px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }
  .imog {
    margin-top:   25px;
    margin-bottom: 10px;
  }
  .fa, .far, .fal{
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  color: white;

  }

  a{
    text-align: center;
    color: white!important;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    font-family: 'Assistant', sans-serif;
  }
}

@media (min-width: 992px) {

  .card{
    width: 130px!important;
    height: 130px;
    margin: 5px;
    border-radius: 4px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }

  .fa, .far, .fal{
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  color: white;
  }

  a{
    text-align: center;
    color: white!important;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    line-height: .1rem;
    font-family: 'Assistant', sans-serif;
  }
}


@media (min-width: 1200px) {

  .card{
    width: 150px!important;
    height: 140px;
    margin: 6px;
    border-radius: 5px;
    transition: all 0.6s ease;
  }
  .card:hover{
    background-color: #4b7bec;
  }

  .fa, .far, .fal{
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  color: white;
  }

  a{
    text-align: center;
    color: white!important;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    font-family: 'Assistant', sans-serif;
  }
}
